# Fichiers de compilation
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dylib

# Dossiers de build
obj/
bin/supemon
bin/supemon.exe


# Fichiers temporaires
*.tmp
*.swp
*.swo
*~
.DS_Store

# IDE et éditeurs
.vscode/
.idea/
*.code-workspace

# Fichiers de debug
*.dSYM/
vgcore.*
core

# Logs
*.log

# Autres
.cache/